# Database Settings

DB_HOST=localhost
DB_USER=root
DB_PASS=Neer@7035
DB_NAME=vendorbridge

# SMTP E-mail Settings (for OTP)

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=jeel3749@gmail.com
SMTP_PASS=pgtzhdojnhnnlgpy
SMTP_FROM="vendorBridge Security" <jeel3749@gmail.com>
